<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- 定义日志输出目标 -->
	<targets>
		<!-- 输出到文件 -->
		<target name="logfile"
				xsi:type="File"
				fileName="logs/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

		<!-- 输出到控制台（可选） -->
		<target name="console" xsi:type="Console" />

		<!-- 输出到数据库 -->
		<target xsi:type="Database" name="database">
			<connectionString>Server=.;Database=PLCHelperDB;User=sa;Password=aaaa2624434145;Encrypt=True;Trusted_Connection=True;TrustServerCertificate=True;</connectionString>
			<!-- 其他配置保持不变 -->
			<commandText>
				INSERT INTO logs ( date, level, logger, message) VALUES (@time, @level, @logger, @message);
			</commandText>
			<parameter name="@time" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
		</target>
	</targets>

	<!-- 定义日志规则 -->
	<rules>
		<!-- Suppress output from Microsoft framework when non-critical -->
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<!-- Keep output from Microsoft.Hosting.Lifetime to console for fast startup detection -->
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="console" />
		<!-- Write all logs with level Info and above to file and console -->
		<logger name="*" minlevel="Info" writeTo="logfile,console" />
		<!-- Write logs with level Warn and above from Microsoft.* to database -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="database" final="true"/>
		<!-- Exclude logs with level Info from being written to the database -->
		<logger name="*" minlevel="Info" writeTo="database" final="true" />
	</rules>
</nlog>





